* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #262e38;
    --very-dark-color: #131518;
    --medium-gray: #7c8798;
    --orange: #fc7614;
    --light-grey: #969fad;
}

body {
    background-color: var(--very-dark-color);
    width: 100vw;
    height: 100vh;
    font-family: Overpass;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.content p {
    color: var(--light-grey);
}
.content img {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-img {
    background-color: rgb(44, 52, 62);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1,
.card2 {
    background-color: var(--dark-blue);
    height: 420px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 10%;
}
.card1 h1 {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}
.card2 h1 {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttons-container button {
    color: var(--very-dark-color);
    background-color: #2c343e;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-weight: 700;
    pointer-events: none;
    transition: 0.2s all ease-in-out;
}
.buttons-container input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
}
form {
    display: flex;

    gap: 20px;
}
.submit-button button {
    width: 340px;
    height: 45px;
    background-color: var(--orange);
    font-size: 14px;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.card1 p {
    color: var(--medium-gray);
    font-weight: 400;
    line-height: 24px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}
.buttons-container input[type='radio']:checked + button {
    background-color: var(--orange); /* Change background color when checked */
}
.buttons-container input[type='radio']:hover + button {
    background-color: var(--medium-gray);
}
.submit-button button:hover {
    background-color: white;
    color: var(--orange);
}
.card2 {
    display: none;
}
.card2-rating {
    width: 193px;
    height: 32px;
    background-color: #2c343e;
    border-radius: 22.5px;
}
.card2-content {
    text-align: center;
}
.card2-content p {
    color: var(--light-grey);
    line-height: 24px;
}

.card2-rating {
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}
